# Write a program to Reverse the given tuple (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [1]:
numbers = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,47,57,55)
print(type(numbers))

<class 'tuple'>

In [5]:
y = reversed(numbers)
print(tuple(y))

(55, 57, 47, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [2]:
print(len(numbers))

20

# Write a program to Access value 58 from the above tuple

In [3]:
print(numbers[9])

58

# Write a program to Counts the number of occurrences of item 55 from the above tuple

In [4]:
print(numbers.count(55))

4

# Write a program to return values 49 and 57 from the above tuple.

In [2]:
print(numbers[6:13])

NameError: name 'numbers' is not defined

# Write a program to Reverse the given list [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [3]:
numbers2 = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
numbers3 = reversed(numbers2)
print(list(numbers3))

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

# Write a program to Access value 58 from the above list

In [4]:
numbers2.pop(9)

58

# Write a program to Counts the number of occurrences of item 51 from the above list

In [5]:
print(numbers2.count(51))

2

# Write a program to return values 49 and 57 from the above list.

# Write a program to add item 69 after 49 in the following Python List

# Write a program to extend [89,85,36,95,45,78] to the above list

In [5]:
numbers4 = [89,85,36,95,45,78]
numbers2.extend(numbers4)
print(numbers2)

NameError: name 'numbers2' is not defined

# Write a Python program to create a new dictionary having 10 football club names as the key with each key holding the following values(location,managersname,clubcaptain,networth,clubformation)

In [10]:
clubs = {
    'Arsenal':['North London', 'Mikel Arteta', 'Alexandre Lacazette ', ], 
    'Man.U':['Manchester','Prof Ragnik','C.Ronaldo'],
    'Chelsea':['West London','Tuchel','CÃ©sar Azpilicueta',],
    'Liverpool Fc':['Liverpool','Klopp','Jordan Henderson',''],
    'Man City':['Manchester','Pep Guardiola','Kevin De Bruyne'],
    'PSG':['Paris','Mauricio Pochettino','Marquinhos'],
    'Real Madrid':['Madrid','Carlo Ancelotti','Marcelo'],
    'Bacelona':['Spain','Xavi','Sergio Busquets '],
    'AC Milan':['italy','Stefano Pioli','Alessio Romagnoli',],
    'Juventus':['Italy','Massimiliano Allegri','Giorgio Chiellini']}
    print(clubs['Arsenal'])

IndentationError: unexpected indent (<ipython-input-10-741e3bcd6d6b>, line 12)